
<div class="container">
    <h1 style="text-align: center;">大甲媽股市預測</h1>
    <img src="https://0.share.photo.xuite.net/ilovedajia/101f76f/13521511/700893960_m.jpg" class="rounded mx-auto d-block" alt="...">
    <br/>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="investment" >投資標的 :</label>
                <input class="form-control" list="investmentlst"/>

                <datalist id="investmentlst">
                    <option value="幣圈">
                    <option value="美股">
                    <option value="台股">
                    <option value="港股">
                    <option value="歐洲">
                </datalist>

            </div>
            <div class="col-md-6">
                <label for="symbol" >交易代號 :</label>
                <input class="form-control" name="symbols"/> 
            </div>

            <div class="col-6">
                <label for="algorithm" class="form-label">選擇演算法 :</label>
                    <input class="form-control" list="algorithmlst"/>

                    <datalist id="algorithmlst">
                        <option value="LSTM">
                        <option value="RNN">
                        <option value="XGBoost">
                        <option value="CNN">
                        <option value="VGG16">
                    </datalist>
                    
            </div>
        </div>
    </form>
    <br>
    <img src="https://www.rclaw.com.tw/images/law_story/anyone/110317/116-3.gif" class="rounded mx-auto d-block" alt="...">
</div>