<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2F3126;">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: aliceblue;">Solana</a>
      <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/" style="color: aliceblue;">首頁</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/Mother" style="color: aliceblue;">詢問大甲媽</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: aliceblue;">我的簡歷</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: aliceblue;">我的興趣</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>